[📊 View Test Reports](https://github.com/baraksu-class-2026/baraksu-class-2026-classroom-01-maman02-Hotel/actions/runs/20956145285)
